.navbar_container {
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 10;
    width: 100%;
    background-color: rgba(247, 250, 252, 0.8);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.navbar_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: black;
}

.navbar_logo img {
    height: 70px;
    width: auto;
}


.navbar_menu {
    flex-grow: 1;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar_menu li {
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar_menu li:hover {
    color: #957DAD;
}

.navbar_buttons {
    flex-shrink: 0;
}

.signup_button,
.signin_button {
    transition: background-color 0.3s ease;
}

.signup_button {
    background-color: transparent;
    border: none;
    color: black;
    margin-right: 10px;
    outline: none;
}

.signup_button:focus {
    outline: none;
}

.signin_button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 15px;
    outline: none;
}

.signin_button:focus {
    outline: none;
}

.signup_button:hover {
    color: #816d95;
}

.signin_button:hover {
    background-color: rgb(59, 58, 58);
    color: white;
}


.navbar_menu li:hover .dropdown_menu,
.dropdown_menu:hover {
    display: block;
}

.dropdown_menu {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px 0;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    min-width: 200px;
}


.dropdown_item {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    font-size: 14px;
    color: #4a5568;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dropdown_item_up {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #4a5568;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dropdown_item_up:hover {
    background-color: #f1f1f1;
}

.dropdown_item:hover {
    background-color: #f1f1f1;
}

.dropdown_item i {
    font-size: 16px;
}

.navbar_menu>li {
    margin-right: 35px;
}

.down-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #333;
    margin-left: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f7fafc;
    padding: 4px;
    border-radius: 20px;
    border: 1px solid rgb(206, 205, 205);
}

.search-input {
    color: black;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 8px 8px;
    border-radius: 20px;
    font-size: 14px;
    width: 200px;
}

.search-input::placeholder {
    color: #9b9b9b;
}

.search-icon {
    background-color: pink;
    border-radius: 10px;
    color: grey;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

input[type="search"] {
    background-color: transparent;
    margin-bottom: 0px;
    color: black;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: 500;
    color: #333;
    margin-right: 20px;
}

.logout_button {
    padding: 10px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}