/* @tailwind base;
@tailwind components; */
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fafc;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}






/*-------main heading--------*/

.main_content {
  padding: 100px 212px;
  text-align: center;
}

.main_heading {
  font-size: medium;
  font-weight: 400;
  color: #1a202c;
  margin-bottom: 0.5rem;
}

.header_links {
  background: #f3f3f6;
  margin-top: 25px;
  margin: 12px;
  font-size: small;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.header_links:hover {
  background-color: #eae6e68d;
}


/*-------filter--------*/


.filter_main {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  color: black;
}

.flexing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  width: 150px;
  text-align: center;
}


.center {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
  justify-content: center;
}

.center .extra-categories {
  display: flex;
  flex-direction: row;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.center .extra-categories.expanded {
  max-height: 500px;
  gap: 16px;
}

.category {
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.expand-icon {
  cursor: pointer;
  margin-left: 10px;
}


.filter-btn {
  cursor: pointer;
  color: #000;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 8px 26px;
}

.filter-section {
  margin-top: 0;
  padding-top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 12px;
  background-color: #f7fafc;
  border: none;
}

.filter-section input {
  padding: 1rem;
  background-color: #f7fafc;
  color: black;
  border-radius: 8px;
  border: 1px solid grey;
  margin-top: 0.5rem;
  font-size: 1rem;
  width: 60%;
  transition: all 0.3s ease;
}

.filter-section input:focus {
  border-color: #a5b4fc;
  outline: none;
  box-shadow: 0px 0px 6px rgba(165, 180, 252, 0.7);
}

.filter-section .flex {
  display: flex;
  justify-content: space-between;
}

.filter-section .flex-1 {
  flex: 1;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .filter-section .flex {
    flex-direction: column;
  }

  .filter-section .flex-1 {
    margin-right: 0;
  }
}


/*--------footer---------*/

.footer_container {
  background-color: #f7fafc;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.footer_logo img {
  height: 70px;
  width: auto;
}

.footer_nav {
  display: flex;
  gap: 20px;
}

.footer_nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}


.footer_socials {
  display: flex;
  gap: 15px;
}

.footer_socials a {
  color: #333;
  font-size: 20px;
  transition: color 0.3s;
}



.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  margin-top: 5px;
}

.footer_left {
  display: flex;
  gap: 15px;
}

.footer_left span,
.footer_left a {
  color: #898484;
  font-size: 14px;
  text-decoration: none;
}


.footer_right {
  display: flex;
  gap: 15px;
}

.footer_right a {
  color: #898484;
  font-size: 14px;
  text-decoration: none;
}


/** Carousel slider **/

.carousel-container {
  width: 100%;
  overflow: hidden;
  background: #f7fafc;
  padding: 20px 0;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.swiper-slide {
  flex-shrink: 0;
  max-width: 160px;
}

.carousel-card {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-card p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}




/*-------signup--------*/

/* Container for flex layout */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 170%;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image {
  width: 80%;
  max-width: 350px;
}

/* Right side form container */
.form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.form,
.alternative {
  width: 100%;
  color: black;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input and button styling */
input,
.btn-submit,
.btn-google,
.btn-email {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 16px;
}

/* Input styling */
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: transparent;
  border: 1px solid #ccc;
  color: black;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.terms {
  align-items: center;
  margin-bottom: 15px;
}

.terms label {
  color: black;
}

/* Back button styling */
.back-button {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  background: none;
  border: 1px solid black;
  color: black;
  margin-left: -238px;
  padding: 5px 10px;
  border-radius: 5px;
}

.back-button:hover {
  border-color: black;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.arrow {
  color: black;
  font-size: 20px;
  margin-right: 8px;
}

/* Button styles */
.btn-submit {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 15px;
}

.btn-google {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 15px;
}

.btn-google:hover {
  border-color: #000;
}

.btn-email {
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px;
}

.btn-email:hover {
  border-color: #000;
}

.link-signin {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.link-signin:hover {
  text-decoration: underline;
  color: black;
}


.smaller-text {
  font-size: 10px;
  text-align: center;
  color: #6b7280;
}

.smaller-text a {
  color: black;
  text-decoration: underline;
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image-container,
  .form-container {
    width: 100%;
    padding: 10px;
  }

  .image {
    width: 60%;
    max-width: 300px;
  }
}



/*-------login--------*/

.sign-up-link {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}

.button-text {
  color: black;
  font-size: 14px;
}

.link-signup {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.link-signup:hover {
  text-decoration: underline;
  color: black;
}

.signin_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 170%;
}

.login-form-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.login-text {
  color: #1a1a1a;
  margin-bottom: 20px;
}

.login-input-field {
  margin-top: 20px;
}


/*-------cards--------*/

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
  justify-content: center;
  align-items: start;
  place-items: center;
}

.card {
  width: 100%;
  max-width: 330px;
  background: #f7fafc;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  filter: brightness(90%);
}

.card img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.hover-icons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .hover-icons {
  opacity: 1;
}

.hover-title {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .hover-title {
  opacity: 1;
}


.icon-btn {
  background: white;
  color: black;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
  border: none;
}

.icon-btn {
  border: none;
}


.card-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}


.creator-name {
  font-size: 14px;
  color: #333;
}

.likes-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(243, 153, 169);
}

/*-------terms--------*/

.terms-container {
  margin-top: 120px;
  background-color: #f7fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.stripe-nav {
  background-color: #d0e7f5;
  width: 100%;
  padding: 10px 0;
}

.stripe-options {
  display: flex;
  justify-content: left;
  gap: 30px;
  padding-left: 10px;
}

.terms-option {
  padding: 8px 20px;
  border-radius: 20px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

.terms-option:hover {
  color: #296996;
}

.terms-option a {
  color: black;
}

.terms-option a:hover {
  color: #296996;
}


.main-content {
  padding: 20px;
}

.terms-title {
  background-color: pink;
  font-size: 25px;
  margin: 0px 450px;
  border-radius: 25px;
  padding: 5px;
  font-weight: bold;
  margin-top: 40px;
  color: #000;
}

.terms-subtitle {
  font-size: 50px;
  color: #555;
  margin-top: 20px;
}

.terms-description {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.terms-body {
  font-size: 16px;
  color: #333;
  margin-top: 30px;
}

.terms-paragraph {
  margin-bottom: 20px;
  text-align: left;
}


/*-------about page--------*/


.about-group-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  border-radius: 30px;
}

.about-images {
  margin: 30px 0;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.row img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}


.left-img {
  width: 310px;
  height: 210px;
}

.right-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-images img {
  width: 300px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}


/*-------careers--------*/

.flex-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}

.text-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-content {
  width: 40%;
  display: flex;
  align-items: center;
}

.image-content img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
}

.values-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.values-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.values-box {
  width: 48%;
  padding: 20px;
  background-color: transparent;
}

.values-box h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.values-box p {
  font-size: 1rem;
  line-height: 1.6;
}


.mediakit-h {
  text-align: left;
}


.values-reviews {
  width: 48%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #b2b0b0;
  border-radius: 20px;
}


.advertise-content {
  max-width: 800px;
  margin: auto;
}

.advertise-title,
.advertise-subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.advertise-images {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.advertise-img {
  width: 30%;
  height: auto;
  border-radius: 8px;
}

.advertise-text {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.advertise-paragraph {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
  text-align: left;
}

.advertise-title {
  color: #555;
  text-align: left;
}


.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
