/* @tailwind base;
@tailwind components; */
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fafc;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}






/*-------main heading--------*/

.main_content {
  padding: 100px 212px;
  text-align: center;
}

.main_heading {
  font-size: medium;
  font-weight: 400;
  color: #1a202c;
  margin-bottom: 0.5rem;
}

.header_links {
  background: #f3f3f6;
  margin-top: 25px;
  margin: 12px;
  font-size: small;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.header_links:hover {
  background-color: #eae6e68d;
}


/*-------filter--------*/


.filter_main {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  color: black;
}

.flexing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  width: 150px;
  text-align: center;
}


.center {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
  justify-content: center;
}

.center .extra-categories {
  display: flex;
  flex-direction: row;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.center .extra-categories.expanded {
  max-height: 500px;
  gap: 16px;
}

.category {
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.expand-icon {
  cursor: pointer;
  margin-left: 10px;
}


.filter-btn {
  cursor: pointer;
  color: #000;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 8px 26px;
}

.filter-section {
  margin-top: 0;
  padding-top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 12px;
  background-color: #f7fafc;
  border: none;
}

.filter-section input {
  padding: 1rem;
  background-color: #f7fafc;
  color: black;
  border-radius: 8px;
  border: 1px solid grey;
  margin-top: 0.5rem;
  font-size: 1rem;
  width: 60%;
  transition: all 0.3s ease;
}

.filter-section input:focus {
  border-color: #a5b4fc;
  outline: none;
  box-shadow: 0px 0px 6px rgba(165, 180, 252, 0.7);
}

.filter-section .flex {
  display: flex;
  justify-content: space-between;
}

.filter-section .flex-1 {
  flex: 1;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .filter-section .flex {
    flex-direction: column;
  }

  .filter-section .flex-1 {
    margin-right: 0;
  }
}


/*--------footer---------*/

.footer_container {
  background-color: #f7fafc;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.footer_logo img {
  height: 70px;
  width: auto;
}

.footer_nav {
  display: flex;
  gap: 20px;
}

.footer_nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}


.footer_socials {
  display: flex;
  gap: 15px;
}

.footer_socials a {
  color: #333;
  font-size: 20px;
  transition: color 0.3s;
}



.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  margin-top: 5px;
}

.footer_left {
  display: flex;
  gap: 15px;
}

.footer_left span,
.footer_left a {
  color: #898484;
  font-size: 14px;
  text-decoration: none;
}


.footer_right {
  display: flex;
  gap: 15px;
}

.footer_right a {
  color: #898484;
  font-size: 14px;
  text-decoration: none;
}


/** Carousel slider **/

.carousel-container {
  width: 100%;
  overflow: hidden;
  background: #f7fafc;
  padding: 20px 0;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.swiper-slide {
  flex-shrink: 0;
  max-width: 160px;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-card p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}